
html,
body {
  height: 100%;
  
}
.jumbotron {
  margin-top: 30px;
}

.sidebar{
  position:absolute;
  margin-top: 2%;
  background-color: black;
  z-index: 2;
}
.toggle{
  display: none;
}
.content  {
  margin-left: 2%;;
  margin-bottom: 10px;
}

/*---------------MAIN NAVIGATION----------------*/
.main-nav {
  float : right;
  font-size: 20px;
  list-style : none;
  margin-top : 38px;
  margin-left: 25px;
}

.main-nav li{
  display: inline-block;
  margin-left: 36px;
}

.main-nav li a:link,
.main-nav a:visited{
  padding : 8px 0;
  color : #000000;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 100%;
  border-bottom: 2px solid transparent;
  -webkit-transition: border-bottom 0.2s;
  transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav a:active{
  border-bottom: 2px solid #e67e22;

}

.collapsed {
  display: none; /* hide it for small displays */
}


/*---------FOOTER----------*/
footer {
  background-color: #333;
  padding: 50px;
  font-size: 80%;
}

.footer-nav {
  list-style: none;
  float: left;
}

.social-links {
  list-style: none;
  float: right;
}

.footer-nav li,
.social-links li {
  display: inline-block;
  margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
  margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited, 
.social-links li a:link,
.social-links li a:visited {
  text-decoration: none;
  border: 0;
  color: #888;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
  color: #ddd;
}

.social-links li a:link,
.social-links li a:visited {
  font-size: 160%;
}

.ion-logo-facebook,
.ion-logo-linkedin {
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.ion-logo-facebook:hover {
  color: #3b5998;
}

.ion-logo-linkedin:hover {
  color: #0077B5;
}


footer p {
  color: #888;
  text-align: center;
  margin-top: 20px;
}



@media only screen and (max-width : 991px){
  .sidebar{
    display: none;
  }

  .main-nav{
    display: none;
  }
  
  .toggle{
    display: inline;
    position: sticky;
    top : 0;
    left : 0;
    
    z-index: 3;
    
    margin-left: 4%;
  }

 

}
